
-
    var socials = [
        {'id':'vk', 'href':'https://vk.com/id5299005'},
        {'id':'github', 'href':'https://github.com/ekb196'},
        {'id':'in', 'href':'#'}
    ]


    var navItems = [
        {'name':'Мои работы', 'href':'my_works.html'},
        {'name':'Обо мне', 'href':'about.html'},
        {'name':'Блог', 'href':'blog.html'}
    ]


    var socials = [
        {'id':'vk', 'href':'https://vk.com/id431828997'},
        {'id':'github', 'href':'https://github.com/bermitti/gulp-build'},
        {'id':'in', 'href':'#'}
    ]
 
    var navItemsFooter = [
        {'name':'Мои работы', 'href':'my_works.html'},
        {'name':'Обо мне', 'href':'about.html'},
        {'name':'Блог', 'href':'blog.html'},
        {'name':'Авторизация', 'href':'index.html'}
    ]
