//-расширяет(наследует) исходный шаблон от tamplate.pug
extends ../template

//-блок переменных, подставляем переменнуб title в наследуемый шаблон
block variables
    - var title = 'Главная страница'

block content
    .header
        .autorization





    //- form
    //- label(for="email") email
    //- input(name="email" id="email")
    //- label(for="password") password
    //- input(name="password" id="password")
    //- button Войти    