//-расширяет(наследует) исходный шаблон от tamplate.pug
extends ../template

//-блок переменных, подставляем переменнуб title в наследуемый шаблон
block variables
    - var title = 'Главная страница'

block content
    .container-welcom
        header.header-welcom
            .header-welcom__login
                button.btn-login Авторизироваться
        section.section-welcom 
            .section-welcom__profile
        footer.footer-welcom
            .footer-welcom__description
                p Владимир Астахов





    //- form
    //- label(for="email") email
    //- input(name="email" id="email")
    //- label(for="password") password
    //- input(name="password" id="password")
    //- button Войти    