.svg-about_bg_left-dims {
	width: 900.006px;
	height: 1013.986px;
}

.svg-about_bg_right-dims {
	width: 900.331px;
	height: 1009.986px;
}

.svg-about_header-dims {
	width: 498.161px;
	height: 175.44px;
}

