@import "normalize"; //node-normalize-scss

ul{
    margin: 0;
    padding: 0;
}
.wrapper {
    height: 100%;
}

@import "common/fonts";
@import "common/welcom";
@import "common/about";
@import "common/svg_skill";
//-указывать с окончанием *.scss нельзя, выдаст ошибку
@import "common/my-works";
@import "common/blog";




