
//-стили для анимации флипера
.flipper {
    transform-style: preserve-3d; //-анимация 3D
    transition: 1s;    
    position: relative;
    //-overflow: hidden; ВАЖНО! на контейнере с ним не работает флиппер
}

.flipper__front{
    //-растягиваю отступами в блоке кнопок width: 380px;
    height: 395px;
    background-color: rgba(252, 252, 252, 0.85);
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    backface-visibility: hidden;
}
//-стили для флиппера авторизации
.flipper__back{
    padding-top: 30px;
    background-color: rgba(252,252,252,0.85);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    //-позиционируем на месте flipper__front
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    //-поворачиваем на обратную сторону flipper__front
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.flipper_rotateY{
    transform: rotateY(180deg);
}

//- // для анимации без js
//- .flipper:hover{
//-     transform: rotateY(180deg);
//- }
