
.welcome{
    position: relative; 
}

.parallaxLs{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include tablets{
        display: none;
    }
}
.parallaxLs__layer{
    position: absolute;
    top: 0;
    left: 0;
    //- right: 0; 
    width: 100%;  //-можно убрать т.к. растягиваем лево 0 - право 0
    height: 100%;
    will-change: transform; //- информируем браузер об изменениях => приводит к более быстрому рендерингу. Применять только у родителя и заранее!!
}
.parallaxLs__image{
    //- border: 1px solid red;  //для наглядности
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    //- bottom: 0;    учтено в parallax.js
    //- width: auto;  если размеры картинок подогнаны под экран
    width: 180%;  // методом тыка подогнал размеры картинки под размер экрана
    
    transition: all 1s;
    &_10{
        animation-name: fly;   //- oпределяет имя @keyframes, настраивающего кадры анимации
        animation-iteration-count: infinite; //-количество повторении анимации, nfinite -бесконечно
        animation-timing-function: linear; //-функция анимации
        animation-duration: 60s;
        left: 0; //-смещаю облако так как красиво
        transform: translateX(-5%); //-смещаю облако так как красиво
    }
    &_7{
        animation-name: fly;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 100s;
    }
    &_4{
        animation-name: fly-reverse;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 150s;
        left: -50%
    }
}

@keyframes fly {  //-устанавливает ключевые кадры при анимации элемента
    0% {transform: translateX(initial);}
    50% {transform: translateX(-100%);}
    100% {transform: translateX(initial);}
}
@keyframes fly-reverse {  //-устанавливает ключевые кадры при анимации элемента
    0% {transform: translateX(initial);}
    50% {transform: translateX(100%);}
    100% {transform: translateX(initial);}
}