
.socials{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    &__item{
        padding: 0 10px;
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    &__icon{
        width: 30px;
        height: 24px;
        // fill: #00bfa5;
        // &:hover{
        //     fill: #0e9289;
        // }
        @include phones{
            width: 26px;
            height: 20px;
        }
    }
}

//-модификатор svg  для страницы welcome
.socials__icon_welcome{
    fill: #00bfa5;
    &:hover{
        fill: #0e9289;
    }
}