
.hero{
    height: 100vh;
    background-image: url(../images/bg/bg-welcom.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hero__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}


.socials__icon_about{
    fill: rgba(252, 252, 252, 0.5);
    &:hover{
        fill: rgba(252, 252, 252, 1);
    }
}
//-можно вынести в файл svg.scss
.humburger__icon{
    width: 40px;
    height: 40px;
}
.humburger__icon_about{
    fill: rgba(255, 255, 255, 1);
}

.hero__title{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title{
    width: 90%;
    height: 275px;
    &__pic{
        fill: rgba(255, 255, 255, 0.3);
        width: 100%;
        height: 100%;
    }
}

.hero__user{
    color: white;
    position: absolute;
}
.hero__arrow{
    display: flex;
    justify-content: center;
    z-index: 1; //-наезжают абсолютом блоки
}
.arrow__down{
    padding-bottom: 70px;
}
.arrow__icon{
    width: 25px;
    height: 25px;
    fill: rgba(255, 255, 255, 0.7);
    &:hover{
        fill: rgba(255, 255, 255, 1);
        cursor: pointer;
    }
}

//-section.section.about
.about{
    display: flex;
}
.about__triangle_left,.about__triangle_right{
    bottom: 99%;
    position: absolute;
    width: 100%;
}

.about__left{
    width: 50%;
    position: relative;
    background-color: #efeee9;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content{
        box-sizing: border-box;
        width: 100%;
        padding: 20px 80px 20px; 
    }
    &-title{
        padding-top: 20px;
    }
}
.triangle_fill_white{
    fill: #efeee9;
    width: 100%;
}

.user-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__avatar{
        max-width: 290px;
    }
    &__title{
        padding: 40px 0 30px;
    }
}

.block-title{
    ::after{
        content: '';
        display: block;
        width: 22px;
        height: 5px;
        background-color: #03161f;
        margin: 0 16px;
    }
}




.about__right{
    width: 50%;
    position: relative;
    background-color: #eeebdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-content{
        box-sizing: border-box; //чтобы не вылазил список скилов
        width: 100%;
        padding: 20px; 
    }
}
.triangle_fill_beige{
    fill: #eeebdf;
    width: 100%;
}
.about__right-title{
    padding: 20px 120px;
}
.user__right-description{
    padding: 0 30px;
}

//-стили для скиллов
.skills-list{
    list-style: none;
}
.skills-row__list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.skill__circle{
    width: 110px;
    height: 110px;
    fill: rgb(80, 173, 250);
}
.skill{
    position: relative;
    &__title{
        position: absolute;
        top: 39%;
        left: 30%;
    }
}

//-cтили для секции .map
.map{
    height: 100vh;
    background-color: greenyellow;
    position: relative;
}
.google-map{
    height: 100%;
    width: 100%;
}

.map-data{
    width: 380px;
    height: 290px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%); 
    padding: 40px 50px;
}
.contacts__title{
    text-align: center;
}
.contacts__row{
    display: flex;

}

//-footer
.footer{
    background-color: rgba(55, 62, 66, 0.85);
    &__col{
        width: 50%;
    }
    &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px rgba(241, 241, 242, 0.5);
    padding: 10px 20px;
    }
    &__social{
        display: flex;
        justify-content: flex-end;
    }
}
.menu__list{
    display: flex;
    list-style: none; 
.menu__item{
    padding-right: 20px;
}    
}
.menu__link{
    text-decoration: none;
    color: white;
    &:hover{
        color: rgb(24, 172, 24);
    }
}

.socials_rounded>li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: solid 1px #fff;
    background-color: transparent;
    padding: 5px;
    margin-left: 5px;
    &:hover{
        background-color: white;
    }
    //-Лейсан
    &:hover .socials__icon_footer{
        fill: black;
    }    
}
//-модификатор для социалок блока футера
.socials__icon_footer{
    fill: rgba(252,252,252,0.5);
    &:hover{
        fill: black;
    }
}

.footer__col{
    padding: 0 10px;
    &:last-child{
        display: flex;
        justify-content: flex-end;
    }
}
.footer__text{
    color: rgba(255, 255, 255, 0.7);
}

//-оформление заголовков
.block-subtitle::before,.block-subtitle::after,.block-title::before,.block-title::after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(9, 10, 10, 0.3);
    opacity: .9;
}
.block-subtitle,.block-title{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.block-title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 50px;
}