
.welcome {
    background-image: url(../images/bg/bg-welcom.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.welcome__header {
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}
.btn-login{
    border-color: white;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color: transparent;
    padding: 10px;
    transition:all 1s ease-in-out;
    &:hover{
        background-color: white;
        border-color: transparent;
        color: #00bfa5;
    }
}
//-Лейсан. Свойство убирающее внещние гран. при нажатии
button.btn-login:focus {
    outline: none;
 }

.welcome__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flipper{
    // overflow: hidden;  //с ним не работает флипп
}
.flipper__front{
    //-растягиваю отступами в блоке кнопок width: 380px;
    height: 395px;
    background-color: rgba(252, 252, 252, 0.85);
    display: flex;
    flex-direction: column;
}

//-убрать в отдельный файл
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 0;
    &__pic{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        overflow: hidden;
        margin-bottom: 20px;
    }
    &__info{
        text-align: center;
    }
    &__name{
        margin-bottom: 10px;
    }
}

.welcome__socials{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__link_welcome,.nav__link_welcome-back{
    background-color: #00bfa5;
    &:hover{
        background-color: #0e9289;
    }
}

//стили для флиппера авторизации
.flipper__back{
    background-color: rgba(252,252,252,0.85);
    display: flex;
    flex-direction: column;
}

//форма авторизации, кнопки на полширины
.nav__item_welcome-back{
    width: 50%;
}
//форма авторизации, на всю ширину родителя
.nav__link_welcome-back{
    width: 100%;
    text-align: center;
}


//-убрать в отдельный файл
.nav__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav__item{
    display: inline-block;
    border-right: solid 2px #6fd1c6;
    &:last-child{
        border-right: none;
    }
}
.nav__link{
    text-decoration: none;
    display: inline-block;
    padding: 10px 33px;
    white-space: nowrap;
    color: white;
}



.welcome__footer {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

//стили для флипера
// .welcome__flipper {
//     perspective: 1000;
//     }
     
//     .welcome__flipper:hover .flipper, .welcome__flipper.hover .flipper {
//     transform: rotateY(180deg);
//     }
     
//     .welcome__flipper, .front, .back {
//     width: 320px;
//     height: 480px;
//     }
//     .flipper {
//     transition: 0.6s;
//     transform-style: preserve-3d;
     
//     position: relative;
//     }
//     .front, .back {
//     backface-visibility: hidden;
     
//     position: absolute;
//     top: 0;
//     left: 0;
//     }
//     .front {
//     z-index: 2;
//     }
//     .back {
//     transform: rotateY(180deg);
//     }
// .welcome__flipper{
//     perspective: 1200;//
//     transform-style: preserve-3d;//
// }
// // // .flipper{
// // //     position: relative; //
// // //     width: 320px;////
// // //     height: 280px;////
// // //     transform-style: preserve-3d;
// // //     transition: .7s linear;
// // //     overflow: inherit; //1
// // // }
// // // .flipper__front,.flipper__back{
// // //     backface-visibility: hidden;
// // //     position: absolute;
// // //     border-radius: 10px; //1
// // //     overflow: hidden;    //1
// // // }
// // // .flipper__front{
// // //     z-index: 2;
// // //     transform: rotateY(0deg);
// // // }
// // // .flipper__back{
// // //     transform: rotateY(-180deg);
// // // }
// // // .welcome__flipper:hover .flipper{
// // //     transform: rotateY(180deg);
// // // }

.flipper {
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.flipper_back {
    transform: rotateY(180deg);
}

.flipper__front,
.flipper__back {
    background-color: rgba(#fcfcfc, .85);
    border-radius: 5px;
    overflow: hidden;
    backface-visibility: hidden;
}

// .flipper__front {
//     position: relative;
//     z-index: 2;
// }

.flipper__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transform: rotateY(180deg);
    padding-top: 30px;
}
.welcome__flipper:hover .flipper{
    transform: rotateY(180deg);
}