
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }
  //-путь в папке build
  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.woff') format('woff');
    font-weight: 400;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-medium.woff') format('woff');
    font-weight: 500;
  }

  @font-face {
    font-family: 'Bernier';
    src: url('../fonts/bernier-regular.woff') format('woff');
    font-weight: 400;
  }
